aniso8601==9.0.1
atomicwrites==1.4.0
attrs==21.4.0
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
Deprecated==1.2.13
Flask==2.0.2
Flask-Caching==1.10.1
flask-restplus==0.13.0
flask-restx==0.5.1
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.6
pyrsistent==0.18.1
pytest==6.2.5
python-dotenv==0.19.2
pytz==2021.3
redis==4.1.1
requests==2.27.1
six==1.16.0
toml==0.10.2
typing-extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.0
wrapt==1.13.3
